header {
  height: 520px;
  width: 100%;
  background-color: #e0d500;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}